ENV_MODE=dev

# To enable docker run Enable_unmix=true
ENABLE_UNMIX=false  #docker compose restart


PYTHON_SP_VENV_PATH=/worker_venv/bin/python
UNMIX_WORKER_SCRIPT=/app/unmix_worker.py

# Temp directory
TEMP_DIR=/tmp/song_processing
